 .h1{color: aqua;}
 .input_title{ margin-bottom: 10px;
   
 }
 .input_year{margin-bottom: 10px;
   
}
.addbtn {margin-bottom: 8px;}
.movie {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.movie_title {
  flex-grow: 1;

}
.movie_year {
  font-size: 0.5rem;
  color: red;
  
}